extends layout

block content
    h1 Books
    include includes/search-form
    p
        a.button(href="/books/new") Create New Book
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
        each book in books
            tr
                td
                    a(href=`/books/${book.id}`)= book.title
                td= book.author
                td= book.genre
                td= book.year
    include includes/pagination    
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" 
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous")
    script(src="/script.js")